<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ntl.udacity.bakingapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.RecipDetaileActivity"
            android:parentActivityName=".Activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.MainActivity" />

        </activity>

        <activity
            android:name=".Activities.MultiPagerStepDetailActivity"
            android:parentActivityName=".Activities.RecipDetaileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.RecipDetaileActivity" />
        </activity>

        <receiver android:name=".Widget.RecipesWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/recipes_widget_info" />
        </receiver>

        <service
            android:name=".Widget.ListWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity
            android:name=".Activities.IngredientsActivity"
            android:parentActivityName=".Activities.RecipDetaileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.RecipDetaileActivity" />
        </activity>
    </application>

</manifest>